@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply w-full h-full m-0 p-0 overflow-hidden;
  background-color: rgba(100, 100, 100, 1);
  background-image: url('/models/rain.gif');
  background-size: cover;
  background-blend-mode: multiply;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}
